/*------------------------------------*\
    # Basic Block (title, Desc and Link)
\*------------------------------------*/

.bblock {
  padding-bottom: 2.62em;
  padding-top: 1.75em;
}

  .bblock__h {
    font-size: 1.12em;
    margin-bottom: 0.56em;
  }

    .bblock__h span {
      color: $highlightColor;
    }


  .bblock__b {
    font-size: 0.87em;
  }

  .bblock__l {
    border: 1px solid $highlightColor;
    border-radius: 100px;
    display: block;
    @extend .link;
    margin-top: 1.68em;
    max-width: 260px;
    padding: 10px 20px;
    margin-left: auto;
  }



@media screen and ( min-width: $sm ) {
  .bbloc{
    padding-bottom: 70px;
    padding-top: 70px;
  }

    .bblock__h {
      font-size: 30px;
    }

    .bblock__b {
      font-size: 22px;
    }
}