/*------------------------------------*\
    # Button
\*------------------------------------*/


.button {
  border-radius: 100px;
  display: inline-block;
  font-family: $secondaryFontFamily;
  font-weight: 600;
  padding: 0.43em 1.2em;
  text-align: center;
  text-transform: uppercase;
}

  .btn--primary {
    @extend .button;
    background: $highlightColor;
    color: $baseLightColor;
  }

  .btn--secondary {
    @extend .button;
    background: $btnSecondaryBckg;
    color: $baseLightColor;
  }


.link {
  border: 2px solid $highlightColor;
  border-radius: 100px;
  display: inline-block;
  font-family: $secondaryFontFamily;
  font-size: 14px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
}

  .link-left {
    @extend .link;
  }

  .link-right {
    @extend .link;
    float: right;
  }

  .linkcontainer {
    height: 35px;
    width: 100%;
  }

  .link .icon-tc-link {
    display: inline-block;
    font-size: 0.75em;
    margin-left: 0.81em;
  }



@media screen and ( min-width: $sm ) {

  .link {
    font-size: 16px;
    padding: 8px 22px;
  }

}



@media screen and ( min-width: $lg ) {

  .link {
    font-size: 18px;
    padding: 10px 25px;
  }

}