/*------------------------------------*\
    # Header
\*------------------------------------*/

.mastheader {
  /*align-items:      center;
  display:          grid;
  grid-template-columns: 70% 20%;
  grid-template-areas: "mhlogo    mhhamb"
                        "mhnav    mhnav";
  justify-content:  space-between;
  padding-top:          0.56em;
  position:         relative;*/
}

  .mastheader__wrapper {
    display: grid;
    align-items: center;
    justify-content: space-between;
  }


  .header__logo {
    padding-left:  5.93%;
    grid-area: mhlogo;
  }

    .header__logo .custom-logo{
      display:  inline-block;
      height:   32px;
      width:    auto;
    }

    #header__hamb {
      grid-area: mhhamb;
      margin-left: auto;
      margin-right: 15%;
    }



/* MENU */
    .header__nav {
      background-color: #F5F5F5;
      box-shadow:       0 2px 4px 0 rgba(0,0,0,0.50);
      grid-area: mhnav;
      display: none;
      width:            100vw;
    }

      .header__nav .menu-item {
        border-bottom:  1px solid #D1D1D1;
        padding:        1em 5.93%;
        text-align:     center;
      }

        .header__nav .menu-item:last-child { border-bottom: 0; }

        .header__nav .menu-item a {
          color:          #474747;
          text-transform: uppercase;
        }