/*------------------------------------*\
    # Header
\*------------------------------------*/

.mastheader {

}

  .mastheader__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .header__logo {
    grid-area: mhlogo;
  }

    .header__logo .custom-logo{
      display:  inline-block;
      height:   32px;
      width:    auto;
    }

    #header__hamb {
      margin-left: auto;
    }



/* MENU */
    .header__nav {
      background-color: #F5F5F5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      display: none;
      width: 100vw;
      position: absolute;
      top: 39px;
      z-index: 250;
      left: 0;
    }

      .header__nav .menu-item {
        border-bottom:  1px solid #D1D1D1;
        padding:        1em 5.93%;
        text-align:     center;
      }

        .header__nav .menu-item:last-child { border-bottom: 0; }

        .header__nav .menu-item a {
          color:          #474747;
          text-transform: uppercase;
        }