/*------------------------------------*\
    # Header
\*------------------------------------*/

.mastheader {
  align-items: center;
  display: flex;
  padding-bottom: 9px;
  padding-top: 9px;
}

  .mastheader__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


  .header__logo {
    grid-area: mhlogo;
  }

    .header__logo .custom-logo{
      display:  inline-block;
      height:   32px;
      width:    auto;
    }

    #header__hamb {
      margin-left: auto;
    }



/* MENU */
    .header__nav {
      background-color: #F5F5F5;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      display: none;
      width: 100vw;
      position: absolute;
      top: 56px;
      z-index: 250;
      left: 0;
    }

      .header__nav .menu-item {
        border-bottom:  1px solid #D1D1D1;
        padding:        1em 5.93%;
        text-align:     center;
      }

        .header__nav .menu-item:last-child { border-bottom: 0; }

        .header__nav .menu-item a {
          color:          #474747;
          text-transform: uppercase;
        }


@media screen and (min-width: $lg) {

  #header__hamb {
    display: none;
  }

  .header__nav {
    background-color: transparent;
    display: block;
    position: relative;
    top: auto;
    width: auto;
  }

  #menu-basic-links {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .header__nav .menu-item {
    border: 0;
    display: flex;
    margin-right: 20px;
    padding: 0;
  }

    .header__nav .menu-item:last-child { margin-right: 0; }

  .header__nav .menu-item a {
    color: $baseLightColor;
    font-family: $secondaryFontFamily;
    font-size: 15px;
    text-transform: uppercase;
    transition: 0.5s color;
  }

    .header__nav .menu-item a:hover { color: $highlightColor; }

}