/*------------------------------------*\
    # Header Navigation
\*------------------------------------*/
.header__nav .mg-social-links { display: none; }







@media screen and ( min-width: $lg ) {

  .header__nav {
    display: flex;
  }

    .header__nav .mg-social-links { display: block; }
    .header__nav .mg-social-links a i { transition: 0.4s color; }
    .header__nav .mg-social-links a:hover i { color: #ffffff; }

}

