/*------------------------------------*\
    # HomePage Active Obras
\*------------------------------------*/

.hlobras__item {
  align-items: center;
  height: 18.75em;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

  .hlobras__item__fi {
    object-fit: cover;
    height: 100%;
    object-position: center center;
  }

  .hlobras__meta {
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 200;
    transform: translateY(-50%);
  }

  .hlobras__h {
    color: $baseLightColor;
    font-size: 2.25em;
    margin-bottom: 0.87rem;
  }

  .hlobras__sh {
    color: $baseLightColor;
    font-weight: 600;
    font-size: 1.12em;
    margin-bottom: 1rem;
  }

  .hlobras__item::after {
    background-color: rgba(71,71,71,0.5);
    content: " ";
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }



@media screen and (min-width: $sm) {

  .hlobras__item {

    height: 400px;
  }

}



@media screen and ( min-width: $lg ) {
  .hlobras__item {
    height: 500px;
  }
}