/*------------------------------------*\
    # HomePage Actores
\*------------------------------------*/
.hpactores {
  background-color: #F5F5F5;
  border-top: 1px solid #D1D1D1;
}

  .hpactores .bblock__h,
  .hpactores .bblock__b{ text-align: center; }


  .hpactores__list {
    margin: 0 auto 38px;
    margin-top: 44px;
    min-width: 350px;
    max-width: 500px;
  }

  .hpactores__item {
    align-items: center;
    background-color: $baseLightColor;
    border-top: 1px solid #D1D1D1;
    display: flex;
  }
  .hpactores__item:last-child { border-bottom: 1px solid #D1D1D1; }

  .hpactores__item__fi {
    height: 70px;
    display: inline-block;
    margin-right: 27px;
    object-fit: cover;
    object-position: top center;
    font-family: "object-fit:cover; object-position:top center;";
    width: 100px;
  }

  .hpactores__item__h {
    font-family: $secondaryFontFamily;
    font-size: 18px;
    margin: 0;
  }



@media screen and ( min-width: $sm ) {

  .hpactores__list {
    max-width: none;
  }


    .hpactores__item {
      display: inline-block;
      text-align: center;
    }

    .hpactores__item__fi {
      height: 233px;
      object-fit: cover;
      margin-right: 0;
      width: 350px;
    }

    .hpactores__item__h {
      font-size: 28px;
      padding-bottom: 20px;
      padding-top: 20px;
    }
}