/*------------------------------------*\
    # Homepage Próximas fechas
\*------------------------------------*/
.hpevents{

}

  .hpevents .bblock__h,
  .hpevents .bblock__b { text-align: center; }


  .hpevents__items {
    margin-bottom: 63px;
    margin-top: 34px;
  }

  .hpevents__item {
    background-color: #F5F5F5;
    margin-bottom: 24px;
    min-height: 172px;
    padding: 12px 15px 12px 145px;
    position: relative;
  }

    .hpevents__item:last-child { margin-bottom: 0; }

    .hpevents__item__fi {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: auto;
    }

    .hpevents__item__h {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .hpevents__item__meta {
      display: block;
      flex: 0 1 50%;
      font-size: 12px;
      line-height: 18px;
    }

    .hpevents__item__ticket {
      display: block;
      padding-bottom: 5px;
      padding-top: 6px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;
      margin-top: 10px;
    }


  .hpevents__btn {
    display: block;
    width: 200px;
    margin: 0 auto;
  }



@media screen and ( min-width: $sm ) {

  .hpevents__items {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
  }

  .hpevents__item {
    margin-right: 2%;
    width: 49%;
  }

    .hpevents__item:nth-child(2n+2){ margin-right: 0; }

}