/*------------------------------------*\
    # Homepage Giras Block
\*------------------------------------*/
.hpgiras {
  background-color: #F5F5F5;
  padding-bottom: 1.68em;
  text-align: center;
}

  .hpgiras .bblock__b { margin-bottom: 2.25em; }

  .hpgiras__h {
    font-size: 1.12em;
    margin-bottom: 0.56em;
  }


  .hpgiras__item {
    background-color: #ffffff;
    margin-bottom: 1.5em;
    padding-bottom: 1.33em;
  }

    .hpgiras__item__fi {
      display: block;
      margin-bottom: 0.56em;
    }

    .hpgiras__item__h {
      font-size: 1.5em;
      margin-bottom: 0.875em;
    }

    .hpgiras__item__b {
      font-size: 0.87em;
      line-height: 1.25rem;
      margin-bottom: 1.25rem;;
    }