/*------------------------------------*\
    # Homepage Giras Block
\*------------------------------------*/
.hpobras {
  background-color: #F5F5F5;
  padding-bottom: 1.68em;
  text-align: center;
}

.hpobras--archived { background-color: transparent; }

  .hpobras .bblock__b { margin-bottom: 2.25em; }

  .hpobras__h {
    font-size: 1.12em;
    margin-bottom: 0.56em;
  }


  .hpobras__items {
    margin: 0 auto 38px;
    max-width: 500px;
  }

  .hpobras__item {
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #D1D1D1;
    display: flex;
    justify-content: flex-start;
  }

    .hpobras__item:last-child { border-bottom: 1px solid #D1D1D1; }

    .hpobras__item__fi {
      height: 70px;
      margin-right: 18px;
      width: auto;
    }

    .hpobras__item__h {
      font-size: 1.5em;
      margin-right: 5px;
      padding: 7px 0;
      text-align: left;
    }

    .hpobras__item__b { display: none; }


    .hpobras__item__l {
      background-color: $highlightColor;
      color: $baseLightColor;
      font-family: $secondaryFontFamily;
      font-size: 18px;
      margin-left: auto;
      margin-right: 10px;
      padding: 12px 10px;
      text-transform: uppercase;
    }



@media screen and ( min-width: $sm ) {
  .hpobras {
    padding-bottom: 40px;
  }

  .hpobras__items {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: none;
  }

  .hpobras__item {
    border: 0;
    display: flex;
    flex: 0 0 48%;
    flex-direction: column;
    margin-bottom: 4%;
    padding-bottom: 32px;
  }
  .hpobras__item:last-child{border:0;}

    .hpobras__item__h {
      font-size: 35px;
      text-align: center;
    }

    .hpobras__item__b {
      display: block;
      margin: 0 auto 24px;
      width: 80%;
    }

    .hpobras__item__fi {
      display: block;
      height: auto;
      margin-right: 0;
    }

    .hpobras__item__l {
      border-radius: 100px;
      display: block;
      margin: auto auto 0;
      max-width: 200px;
      padding-left: 20px;
      padding-right: 20px;
    }


  .hpobras__l {
    font-size: 24px;
  }

}



@media screen and ( min-width: $lg ) {

  .hpobras__item { flex: 0 0 32%; }

}