/*------------------------------------*\
    # Single Content
\*------------------------------------*/

.sgcontent {
  font-weight: 300;
  font-size: 15px;
  padding-bottom: 26px;
  padding-top: 26px;
}

  .sgcontent__h {
    font-size: 20px;
    margin-bottom: 20px;
  }