/*------------------------------------*\
    # Single Call To Action
\*------------------------------------*/

.sgcta {

  border-bottom: 1px solid #D1D1D1;
  width: 100%;

}

  .sgcta__wrapper {
    padding-bottom: 28px;
    padding-top: 28px;
  }

  .sgcta__h {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .sgcta__b {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 28px;
  }




@media screen and ( min-width: $sm ) {

  .sgcta__wrapper {
    padding-bottom: 39px;
    padding-top: 39px;
  }

    .sgcta__h {
      font-size: 25px;
    }

    .sgcta__b {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 35px;
    }

}



@media screen and ( min-width: $lg ) {

  .sgcta__wrapper {
    padding-bottom: 39px;
    padding-top: 39px;
  }

    .sgcta__h {
      font-size: 30px;
    }

}