/*------------------------------------*\
    # Single Technical Details
\*------------------------------------*/
.sgtechd {
  background-color: #F5F5F5;
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 50px;
  padding-top: 50px;
}

  .sgtechd__h {
    font-size: 20px;
    margin-bottom: 31px;
  }


  .sgtechd__item {
    border-bottom: 1px solid #D1D1D1;
    padding-bottom: 15px;
    padding-top: 15px;
  }

  .sgtechd__item__h {
    font-family: $mainFontFamily;
    font-weight: 400;
  }

  .sgtechd__item__b,
  .sgtechd__item__b > p { margin: 0; }
  .sgtechd__item__b > p > strong { font-weight: 400; }


  .sgtechd__person {
    margin-bottom: 10px;
  }
  .sgtechd__person__name {
    display: inline-block;
    font-weight: 400;
    margin-right: 5px;
  }
  .sgtechd__person__name::after { content: ":"; }

  .sgtechd__person > a {
    display: block;
  }
    .sgtechd__person > a:last-child { margin-right: 0; }
